
    <%- include('./partials/header') %>
    <section class="hero">
        <article class="hero__container container">
            <h3 class="hero__titulo">Nuevos ingresos</h3>
            <p class="hero__parrafo"> Descubrí el próximo Funko Pop de tu colección</p>
            <a class="hero__link" href="/shop">SHOP</a>
        </article>
    </section>
    <main class="container">
        <section class="coleccion">
            <article class="coleccion__container container">
                <h3 class="coleccion__titulo">STAR WARS & <br> THE MANDALORIAN</h3>
                <p class="coleccion__parrafo">Disfruta de una saga que sigue <br>
                    agregando personajes a su colección.</p>
                <a class="coleccion__link" href="">VER COLECCIÓN</a>
            </article>
            <div class="coleccion__img">
                <img src="../../../public/img/star-wars/baby-yoda-1.webp" alt="figura coleccionable funko">
            </div>

        </section>
        <section class="coleccion">
            <article class="coleccion__container container">
                <h3 class="coleccion__titulo">POKEMON INDIGO</h3>
                <p class="coleccion__parrafo">Atrapa todos los que puedas y disfruta <br> de una colección llena de
                    amigos.</p>
                <a class="coleccion__link" href="">VER COLECCIÓN</a>
            </article>
            <div class="coleccion__img">
                <img src="../../../public/img/pokemon/vulpix-1.webp" alt="figura coleccionable funko">
            </div>

        </section>
        <section class="coleccion">
            <article class="coleccion__container container">
                <h3 class="coleccion__titulo">HARRY POTTER</h3>
                <p class="coleccion__parrafo">Revive los recuerdos de una saga llena <br> de magia y encanto.</p>
                <a class="coleccion__link" href="">VER COLECCIÓN</a>
            </article>
            <div class="coleccion__img">
                <img src="../../../public/img/harry-potter/snape-patronus-1.webp" alt="figura coleccionable funko">
            </div>

        </section>

        <section class="slaider container glide">
            <h2 class="slaider__titulo">ULTIMOS LANZAMIENTOS</h2>
            <div class="glide__track" data-glide-el="track">
                <ul class="slaider__items glide__slides">
                    <% data.forEach( item => { %>
                        <li class="slaider__item glide__slide">
                            <article class="card-item">
                                <a class="card-item__link" href="#">
                                    <div class="card-item__img">
                                        <span class="card-item__span"> nuevo</span>
                                        <img class="card-item__img--front" src="/public/img/<%= item.image_front %>" alt="<%= item.product_name %>">
                                        <img class="card-item__img--back" src="/public/img/<%= item.image_back %>" alt="<%= item.product_name %>">
                                        
                                        
                                    </div>
                                    <div class="card-item__container">
                                        <p class="card-item__licencia"><%= item.licence_name %></p>
                                        <h4 class="card-item__nombre"><%= item.product_name %></h4>
                                        <p class="card-item__precio">$<%= item.price %></p>
                                        <p class="card-item__promo"><%= item.dues %> cuotas sin interés</p>
                                    </div>
                                    
                                    
                                    
                                    
                                </a>
                            </article>
                        </li>
                    
                    <% }) %>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="mdi:chevron-left"></iconify-icon>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="mdi:chevron-right"></iconify-icon>
                </button>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>