<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">

    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar container">
            <div class="navbar__logo">
                <a href="/home">
                    <img src="../../../public/img/branding/logo_light_horizontal.svg" alt="Logotipo de la marca">
                </a>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/shop" class="navbar__link">Shop</a>
                    
                </li>
                <li class="navbar__item">
                    <a href="/contact" class="navbar__link">Contacto</a>
                </li>
                <li class="navbar__item">
                    <a href="/auth/login" class="navbar__link">Login</a>
                </li>
                <li class="navbar__item" id="carrito">
                    <span id="cantidadCarrito"><%= sumaQuantity%></span>
                    <a href="/shop/cart" class="navbar__carrito"><img src="../../../public/img/icons/cart-icon.svg"
                            alt="Icono de carrito"></a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <div class="container__table">
            <div class="table__titulo">
                <h2 class="table__titulo--">CARRITO DE COMPRAS</h2>
            </div>

            <div class="table__group">
                <div class="table__header">DETALLE DE PRODUCTO</div>
                <div class="table__header">CANTIDAD</div>
                <div class="table__header">TOTAL</div>
                <div class="table__header">ACCION</div>
                <% carrito.forEach(item=> { %>
                    <div class="table__item">
                        <!-- Detalle de producto -->
                        <div class="item_card">
                            <img src="/public/img/<%=item.image%>" alt="<%= item.name %>">
                            <div class="item_card_info">
                                <!-- Acceder a las propiedades del producto -->
                                <h4 class="item_card_nombre">
                                    <%= item.name %>
                                </h4>

                                <p class="item_card_precio">
                                    <%= item.category %>
                                </p>
                                <br>
                                <p class="item_card_licencia"> Precio unitario: <%= item.price %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="table__item">
                        <form class="item__cart" action="#" method="POST" enctype="application/x-www-form-urlencoded">
                            <input id="quantity_<%= item.id %>" class="item__input" type="text" name="quantity"
                                placeholder="<%= item.cantidad %>" disabled>
                            <div>

                                <button id="addQ_<%= item.id %>" class="item__quantity_tabla" type="button">+</button>
                                <button id="subtractQ_<%= item.id %>" class="item__quantity_tabla" type="button">-</button>
                            </div>

                        </form>

                    </div>
                    <div class="table__item">
                        <p id="total" class="item_precio">
                            <%= (item.cantidad*item.price).toFixed(2) %>
                        </p>
                    </div>
                    <form class="table__item" action="/cart/remove/<%= item.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="eliminar-producto" data-product-id="<%= item.id %>">
                          <iconify-icon icon="material-symbols:delete"></iconify-icon> 
                        </button>
                      </form>

                <% }) %>

            </div>

        </div>
        <button id="vaciarCarrito">Vaciar Carrito</button>



    </section>
    
    <section class="container resumen">
        <h2 class="resumen__titulo">RESUMEN</h2>
        <article class="resumen__container">
            <div class="resumen__cantidad">
                <p>cantidad de productos </p>
                <p id="cantProd"><%= sumaQuantity%> </p>
            </div>
            <div class="resumen__subtotal">
                <p>subtotal</p>
                <p id="subTotal">$<%= precioTotal%></p>
            </div>
            <div class="resumen__envio">
                <p>envio</p>
                <p><strong>BONIFICADO</strong></p>
            </div>
            <div class="resumen__total">
                <p class="resumen__total__titulo">total</p>
                <p id="totalAPagar">$<%= precioTotal%></p>
            </div>
        </article>
        <div class="pagar">
            <button id="btnPagar">ir a pagar</button>
        </div>
    </section>
                <script src="../../../public/js/carrito.js"></script>
                <script src="../../../public/js/cart.js"></script>

    <%- include('../partials/footer') %>