<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <title>FUNKO-SHOP</title>
</head>

<body>

    <% if(loggedin) {  %>

        <!-- Si el usuario está logueado muestra este header -->

        <header>
            <nav class="navbar container">
                <div class="navbar__logo">
                    <a href="/home">
                        <img src="../../../public/img/branding/logo_light_horizontal.svg" alt="Logotipo de la marca">
                    </a>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item with-submenu">
                        <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                                icon="carbon:chevron-down"></iconify-icon></a>
                                <ul class="submenu">
                                    <% categorias.forEach(cat => {  %>
                                        <li class="submenu__item">
                                            <a href="#" class="submenu__link"> <%= cat.category_name %></a>
                                        </li>
                                        <% }) %>
                                </ul>
                    </li>

                    <li class="navbar__item"> </li>

                    <li class="navbar__item"><a class="navbar__link" href="/admin">ADMIN</a></li>

                    <li class="navbar__item with-submenu">
                        <iconify-icon icon="mdi:user-outline" style="color: #f33" width="40" height="40" ;">
                        </iconify-icon>
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/admin/profile" class="submenu__link"> PERFIL</a>
                            </li>
                            <li class="submenu__item">
                            <li class="navbar__item"><a class="navbar__link" href="/auth/logout">SALIR</a></li>
                    </li>
                </ul>
                </ul>
                </ul>
            </nav>
        </header>
        <% } else { %>
            <!-- Si no está logueado, muestra este otro header -->

            <header>
                <nav class="navbar container">
                    <div class="navbar__logo">
                        <a href="/home">
                            <img src="../../../public/img/branding/logo_light_horizontal.svg"
                                alt="Logotipo de la marca">
                        </a>
                    </div>
                    <ul class="navbar__menu">
                        <li class="navbar__item with-submenu">
                            <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                                    icon="carbon:chevron-down"></iconify-icon></a>
                                    <ul class="submenu">
                                        <% categorias.forEach(cat => {  %>
                                            <li class="submenu__item">
                                                <a href="#" class="submenu__link"> <%= cat.category_name %></a>
                                            </li>
                                            <% }) %>
                                    </ul>
                        </li>
                        <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
                        <li class="navbar__item"><a class="navbar__link" href="/auth/login">LOGIN</a></li>
                        <li class="navbar__item" id="carrito">
                            <span id="cantidadCarrito"><%= sumaQuantity %></span>
                            <a href="/shop/cart" class="navbar__carrito"><img
                                    src="../../../public/img/icons/cart-icon.svg" alt="Icono de carrito"></a>
                        </li>
                    </ul>
                </nav>
            </header>
            <% } %>

                <main class="container">
                    <section class="item">
                        <div class="item__img card-item__img" id="img_item">
                            <img class="card-item__img--front" src="/public/img/<%= product.image_front %>"
                            alt="imagen front de <%= product.product_name %>">
                            <img class="card-item__img--back" src="/public/img/<%= product.image_back %>"
                            alt="imagen back de <%= product.product_name %>">
                        </div>
                        <article class="item__info">
                            <p class="item__licence">
                                <%= product.licence_name %>
                            </p>
                            <h3 class="item__name">
                                <%= product.product_name %>
                            </h3>
                            <p class="item__description">
                                <%= product.product_description %>
                            </p>
                            <p class="item__price" id="price">$<%= product.price %>
                            </p>
                            <p class="item__stock" id="product_stock"> Stock: <%= product.stock %>
                            </p>

                            <form class="item__cart" action="/shop/item/<%= product.product_id %>/add" method="post"
                                enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="_method" value="post">
                                <!-- Este campo indica que es una solicitud POST -->
                               

                                <button id="subtract" class="item__quantity" type="button">-</button>
                                <input id="quantity" class="item__input" type="text" name="quantity" value="1" min="1" max="<%= product.stock %>" data-stock="<%= product.stock %>">
                                <button id="add" class="item__quantity" type="button">+</button>


                                <% if (loggedin) { %>

                                    <a href="/admin/edit/<%= product.product_id %>"><button
                                            class="item__submit btn btn--primary btn--medium" id="addToCart"
                                            type="button" data-id="<%= product.product_id %>"> Editar </button></a>
                                    <% } else { %>
                                        <button class="item__submit btn btn--primary btn--medium" id="addToCart"
                                            type="button" data-id="<%= product.product_id %>" onclick="addToCart()">Agregar al
                                            carrito</button>
                                        <% } %>


                            </form>

                            <p class="item__promo"><a href="">Ver métodos de pago</a> -<% if (product.dues === 0) { %>
                                EN 1 PAGO
                            <% } else { %>
                                <%= product.dues %> CUOTAS SIN INTERES
                            <% } %></p>
                        </article>
                    </section>
                    <!-- slider -->
                    <section class="slaider container glide">
                        <h2 class="slaider__titulo">PRODUCTOS RELACIONADOS</h2>
                        <div class="glide__track" data-glide-el="track">
                            <ul class="slaider__items glide__slides">
                                <!-- aca iteramos con el array que tiene todos los productos con un .foreach -->

                                <% const relatedProducts=allProducts.filter(allP=> allP.licence_id ===
                                    product.licence_id); %>
                                    <% relatedProducts.forEach(prod=> { %>
                                        <li class="slaider__item glide__slide">
                                            <article class="card-item">
                                                <a class="card-item__link" href="/shop/item/<%= prod.product_id %>">
                                                    <div class="card-item__img">
                                                        <span class="card-item__span"> new</span>
                                                        <img class="card-item__img--front"
                                                            src="/public/img/<%= prod.image_front %>"
                                                            alt="<%= prod.product_name %>">
                                                        <img class="card-item__img--back"
                                                            src="/public/img/<%= prod.image_back %>"
                                                            alt="<%= prod.product_name %>">

                                                    </div>
                                                    <div class="card-item__container">
                                                        <p class="card-item__licencia">
                                                            <%= prod.licence_name %>
                                                        </p>
                                                        <h4 class="card-item__nombre">
                                                            <%= prod.product_name %>
                                                        </h4>
                                                        <p class="card-item__precio">$<%= prod.price %>
                                                        </p>
                                                        <p class="card-item__promo">
                                                            <% if (prod.dues === 0) { %>
                                                                EN 1 PAGO
                                                            <% } else { %>
                                                                <%= prod.dues %> CUOTAS SIN INTERES
                                                            <% } %>
                                                        </p>
                                                    </div>

                                                </a>
                                            </article>
                                        </li>

                                        <!-- aca lo cerramos  -->
                                        <% }); %>
                            </ul>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon
                                    icon="mdi:chevron-left"></iconify-icon>
                            </button>
                            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon
                                    icon="mdi:chevron-right"></iconify-icon>
                            </button>
                        </div>

                    </section>

                </main>
                <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
                <script src="../../../public/js/glide.js"></script>
                <script src="../../../public/js/carrito.js"></script>
                <%- include('../partials/footer') %>