<%- include('../partials/header') %>

    <main class="container">
        <section class="item">
            <div class="item__img card-item__img" id="img_item">
                <img class="card-item__img--front" src="/public/img/<%= item.image_front %>"
                    alt="Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga">
                <img class="card-item__img--back" src="/public/img/<%= item.image_back %>"
                    alt="Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga">
            </div>
            <article class="item__info">
                <p class="item__licence">
                    <%= item.licence_name %>
                </p>
                <h3 class="item__name">
                    <%= item.product_name %>
                </h3>
                <p class="item__description">
                    <%= item.product_description %>
                </p>
                <p class="item__price">$<%= item.price %>
                </p>
                <form class="item__cart" action="#" method="POST" enctype="application/x-www-form-urlencoded">
                    <button id="subtract" class="item__quantity" type="button">-</button>
                    <input id="quantity" class="item__input" type="text" name="quantity" placeholder="0">
                    <button id="add" class="item__quantity" type="button">+</button>
                    <button class="item__submit btn btn--primary btn--medium" type="submit">Agregar al carrito</button>
                </form>
                <p class="item__promo"><a href="">Ver métodos de pago</a> - <%= item.dues %> CUOTAS SIN INTERÉS</p>
            </article>
        </section>
        <section class="slaider container glide">
            <h2 class="slaider__titulo">ULTIMOS LANZAMIENTOS</h2>
            <div class="glide__track" data-glide-el="track">
                <ul class="slaider__items glide__slides">
                    <% data.forEach( item => { %>
                    <li class="slaider__item glide__slide">
                        <article class="card-item">
                            <a class="card-item__link" href="#">
                                <div class="card-item__img">
                                    <span class="card-item__span"> nuevo</span>
                                    <img class="card-item__img--front" src="/public/img/<%= item.image_front %>" alt="<%= item.product_name %>">
                                    <img class="card-item__img--back" src="/public/img/<%= item.image_back %>" alt="<%= item.product_name %>">
                                    
                                    
                                </div>
                                <div class="card-item__container">
                                    <p class="card-item__licencia"><%= item.licence_name %></p>
                                    <h4 class="card-item__nombre"><%= item.product_name %></h4>
                                    <p class="card-item__precio">$<%= item.price %></p>
                                    <p class="card-item__promo"><%= item.dues %> cuotas sin interés</p>
                                </div>
                                
                                
                                
                                
                            </a>
                        </article>
                    </li>
                    
                    
                    <% }) %>
                </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon
                        icon="mdi:chevron-left"></iconify-icon>
                    </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon
                        icon="mdi:chevron-right"></iconify-icon>
                    </button>
                </div>
            </section>

    </main>
    <%- include('../partials/footer') %>