<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <title>FUNKO-SHOP</title>
</head>

<body>
    
    <% if(loggedin) { %>
        
        <!-- Si el usuario está logueado muestra este header -->
        
    <header>
        <nav class="navbar container">
            <div class="navbar__logo">
                <a href="/home">
                    <img src="../../../public/img/branding/logo_light_horizontal.svg" alt="Logotipo de la marca">
                </a>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                            icon="carbon:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="#" class="submenu__link"> Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link"> Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link"> Llaveros</a>
                        </li>
                    </ul>
                </li>

                <li class="navbar__item"> </li>

                <li class="navbar__item"><a class="navbar__link" href="/admin">ADMIN</a></li>

                <li class="navbar__item with-submenu">
                    <iconify-icon icon="mdi:user-outline" style="color: #f33" width="40" height="40" ;">
                    </iconify-icon>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">
                            </a>
                        </li>
                        <li class="submenu__item">
                            <a href="/admin/profile" class="submenu__link"> PERFIL</a>
                        </li>
                        <li class="submenu__item">
                            <li class="navbar__item"><a class="navbar__link" href="/auth/logout">SALIR</a></li>
                        </li>
                    </ul>
                </ul>
            </ul>
    </nav>
</header>

    <main id="admin" class="container">
        <section class="admin__search">
            <iconify-icon class="admin__icon" icon="charm:search"></iconify-icon>
            <input class="admin__search-bar" type="text" name="search" id="search" placeholder="código, nombre o categoria">
        </section>
        <section class="admin__list">
            <div class="admin__header">
                <h2>LISTADO DE PRODUCTOS</h2>
        
                <span>AGREGAR<a href="/admin/create"><iconify-icon icon="bxs:plus-square" style="color: #f33;"></iconify-icon></a></span>
            </div>
            <div class="admin-table">
                <header class="admin-table__header">
                    <h3>ID</h3>
                    <h3>Código</h3>
                    <h3>Nombre del Producto</h3>
                    <h3>Categoría</h3>
                    <h3>Licencia</h3>
                    <h3>Acciones</h3>
                </header>
                
                <% products.forEach( item => { %>
                    <article class="admin-table__row">
                        <p><%= item.product_id %></p>
                        <p><%= item.sku %></p>
                        <p><%= item.product_name %></p>
                        <p><%= item.category_name %></p>
                        <p><%= item.licence_name %></p>
                        <a href="/shop/item/<%= item.product_id %>"><iconify-icon icon="carbon:view-filled" style="color: #811ca0;"></iconify-icon></a>
                        <a href="/admin/edit/<%= item.product_id %>"><iconify-icon icon="mdi:pencil" style="color: #1d84b5;"></iconify-icon></a>
                        <form action="/admin/delete/<%= item.product_id %>?_method=DELETE" method="POST">
                            <button type="submit">
                                <iconify-icon icon="heroicons-solid:trash" style="color: #f33;"></iconify-icon>
                            </button>
                        </form>
                    </article>
                    <% }) %>

            </div>
        </section>
    </main>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="/shop">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/register">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="contact">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../../public/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__parrafo">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
    <% } %>
    <a href="/auth/login"> debes iniciar sesion</a>
</body>
</html>