<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="/public/css/index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <title>FUNKOSHOP</title>
    </head>
    <body class="grid-fixed">
        <header>
            <nav class="navbar container">
                <div class="navbar__logo">
                    <a href="/home">
                        <img src="../../../public/img/branding/logo_light_horizontal.svg" alt="Logotipo de la marca">
                    </a>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item with-submenu">
                        <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                                icon="carbon:chevron-down"></iconify-icon></a>
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link"> Funkos</a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link"> Remeras</a>
                            </li>
                            <li class="submenu__item">
                                <a href="#" class="submenu__link"> Llaveros</a>
                            </li>
                        </ul>
                    </li>

                    <li class="navbar__item"> </li>

                    <li class="navbar__item"><a class="navbar__link" href="/admin">ADMIN</a></li>

                    <li class="navbar__item with-submenu">
                        <iconify-icon icon="mdi:user-outline" style="color: #f33" width="40" height="40" ;">
                        </iconify-icon>
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a href="#" class="submenu__link">
                                </a>
                            </li>
                            <li class="submenu__item">
                                <a href="/admin/profile" class="submenu__link"> PERFIL</a>
                            </li>
                            <li class="submenu__item">
                                <li class="navbar__item"><a class="navbar__link" href="/auth/logout">SALIR</a></li>
                            </li>
                        </ul>
                    </ul>
                </ul>
        </nav>
    </header>
    <main id="edit" class="container">
        <h2 class="edit__title">EDITAR ITEM</h2>
        <form class="edit__form" action="/admin/edit/<%= product.product_id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="collection">Categoría:</label>
                    <select class="form__select" name="category" id="category" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option <%= (product.category_id === 1) ? 'selected' : '' %> value="1">Funko</option>
                        <option <%= (product.category_id === 2) ? 'selected' : '' %> value="2">Remeras</option>
                        <option <%= (product.category_id === 3) ? 'selected' : '' %> value="3">Llaveros</option>
                     
                    </select>
                    
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="collection">Licencia:</label>
                    <select class="form__select" name="licence" id="licence" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option <%= (product.licence_id === 1) ? 'selected' : '' %> value="1">Pokemon</option>
                        <option <%= (product.licence_id === 2) ? 'selected' : '' %> value="2">Star Wars</option>
                        <option <%= (product.licence_id === 3) ? 'selected' : '' %> value="3">Harry Potter</option>
                        <option <%= (product.licence_id === 4) ? 'selected' : '' %> value="4">Campeones del mundo</option>
                        <option <%= (product.licence_id === 5) ? 'selected' : '' %> value="5">Dragon Ball Z</option>
                        
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label" for="name">Nombre del producto:</label>
                <input class="form__input" type="text" name="name" id="name" value="<%= product.product_name %>"
                    required>
            </div>
            <div>
                <textarea class="textArea" name="product_description" id="product_description" cols="100" rows="10"
                 required> <%= product.product_description %></textarea>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label class="form__label" for="sku">SKU:</label>
                    <input class="form__input" type="text" name="sku" id="sku"  value="<%= product.sku %>" required>
                </div>
                <div class="form__box--flex">
                    <div class="form__inline">
                        <label class="form__label" for="price">Precio:</label>
                        <div class="form__input--wrapper"><span>$</span><input class="form__input" type="text" name="price" id="price" data-type="currency"  value="<%= product.price %>"></div>
                    </div>
                </div>
                <div class="form__box--flex">
                    <div class="form__inline">
                        <label class="form__label" for="stock">Stock:</label>
                        <div class="form__input--wrapper"><input class="form__input" type="text" name="stock" id="stock"  value="<%= product.stock %>" required><span>unidades</span></div>
                    </div>
                </div>
            </div>
            
            <div class="form__flex">
                <div class="form__box--flex">
                    <div class="form__inline">
                     <label class="form__label" for="discount">Descuento:</label>
                        <div class="form__input--wrapper"><input class="form__input" type="text" name="discount"
                            id="discount"  value="<%= product.discount %>" required><span>%</span></div>
                        </div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="dues">Cuotas:</label>
                    <select class="form__select" name="dues" id="dues">
                        <option <% if (product.dues === 0) { %>selected<% } %> value="0">Sin cuotas</option>
                        <option <% if (product.dues === 3) { %>selected<% } %> value="3">3 cuotas s/ interés</option>
                        <option <% if (product.dues === 6) { %>selected<% } %> value="6">6 cuotas s/ interés</option>
                        <option <% if (product.dues === 9) { %>selected<% } %> value="9">9 cuotas s/ interés</option>
                        <option <% if (product.dues === 12) { %>selected<% } %> value="12">12 cuotas s/ interés</option>
                        <option <% if (product.dues === 18) { %>selected<% } %> value="18">18 cuotas s/ interés</option>
                        <option <% if (product.dues === 24) { %>selected<% } %> value="24">24 cuotas s/ interés</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label class="form__label" for="images">Imagenes:</label>
                <input type="file" name="images" id="img" multiple>
            </div>
            <div class="form__box--flex">
                <div class="edit__img">
                    <img src="/public/img/<%= product.image_front %>" alt="Figura Funko coleccionable de Hermione">
                    <p class="edit__img-side">Frente</p>
                </div>
                <div class="edit__img">
                    <img src="/public/img/<%= product.image_back %>" alt="Figura Funko coleccionable de Hermione en caja">
                    <p class="edit__img-side">Dorso</p>
                </div>
            </div>
            <div>
                <input class="form__btn" type="submit" value="Modificar Producto">
                <input class="form__btn" type="reset" value="Limpiar">
            </div>
        </form>
    </main>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="/shop">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/register">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/contact">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../../public/img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </picture>
        </nav>
        <p class="footer__parrafo">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>